## Pair Programming Group By y Apply

#### **Ejercicios apply**

1. Las columnas land_area, armed_forces_size, co2-emissions, gdp, population, urban_population, latitude, longitude, density, cpi son de tipo object pero en realidad deberían ser numéricas. Crea una función que nos permita cambiar el tipo de dato de estas columnas al que le corresponde.

In [23]:
import pandas as pd
import numpy as np

pd.set_option("display.max_columns", None)

df_world = pd.read_csv("world-data-2023.csv", index_col=0)

In [ ]:
##columnas = ["land_area", "armed_forces_size", "co2-emissions", "gdp", "population", "urban_population", "latitud", "longitud", "density", "cpi"]

##def convertir_columnas(texto):
    ##for i in columnas:
        ##df_world[i] = pd.to_numeric(df_world[i], errors="coerce")
    ##return df_world

##df_world = convertir_columnas(columnas)

In [24]:
def convertir_columnas(cadena):
    try:
        return round(float(cadena.replace(",", ".")), 2)
    except:
        return np.nan

In [25]:
columnas = ["land_area", "armed_forces_size", "co2-emissions", "gdp", "population", "urban_population", "latitud", "longitud", "density", "cpi"]

for i in columnas:
    df_world[i] = df_world[i].apply(convertir_columnas)
    
df_world.head(2)

,country,density,abbreviation,agricultural_land,land_area,armed_forces_size,birth_rate,calling_code,capital/major_city,co2-emissions,cpi,cpi_change,currency-code,fertility_rate,forested_area,gasoline_price,gdp,gross_primary_education_enrollment,gross_tertiary_education_enrollment,infant_mortality,largest_city,life_expectancy,maternal_mortality_ratio,minimum_wage,official_language,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation,tax_revenue,total_tax_rate,unemployment_rate,urban_population,latitud,longitud
0,Afghanistan,60.0,AF,58.1,652.23,323.0,32.49,93.0,Kabul,8.67,149.90,2.3,AFN,4.47,2.1,$0.70,NaN,104.0,9.7,47.9,Kabul,64.5,638.0,$0.43,Pashto,78.4,0.28,NaN,48.9,9.3,71.4,11.12,NaN,NaN,NaN
1,Albania,105.0,AL,43.1,28.75,9.0,11.78,355.0,Tirana,4.54,119.05,1.4,ALL,1.62,28.1,$1.36,NaN,107.0,55.0,7.8,Tirana,78.5,15.0,$1.12,Albanian,56.9,1.20,NaN,55.7,18.6,36.6,12.33,NaN,NaN,NaN

2. Crea una función para añadir una nueva columna llamada 'Continent' al DataFrame para indicar a qué continente pertenece cada país.

In [32]:
countries_europe = ['Albania', 'Andorra', 'Armenia', 'Austria', 'Azerbaijan', 'Belarus', 'Belgium', 'Bosnia and Herzegovina',
                    'Bulgaria', 'Croatia', 'Cyprus', 'Czech Republic', 'Denmark', 'Estonia', 'Finland', 'France', 'Georgia',
                    'Germany', 'Greece', 'Hungary', 'Iceland', 'Ireland', 'Italy', 'Kazakhstan', 'Kosovo', 'Latvia', 'Liechtenstein',
                    'Lithuania', 'Luxembourg', 'Malta', 'Moldova', 'Monaco', 'Montenegro', 'Netherlands', 'North Macedonia', 'Norway',
                    'Poland', 'Portugal', 'Romania', 'Russia', 'San Marino', 'Serbia', 'Slovakia', 'Slovenia', 'Spain', 'Sweden',
                    'Switzerland', 'Turkey', 'Ukraine', 'United Kingdom', 'Vatican City']

countries_asia = ['Afghanistan', 'Bahrain', 'Bangladesh', 'Bhutan', 'Brunei', 'Cambodia', 'China', 'Cyprus', 'East Timor', 'Georgia',
                  'India', 'Indonesia', 'Iran', 'Iraq', 'Israel', 'Japan', 'Jordan', 'Kazakhstan', 'Kuwait', 'Kyrgyzstan', 'Laos',
                  'Lebanon', 'Malaysia', 'Maldives', 'Mongolia', 'Myanmar', 'Nepal', 'North Korea', 'Oman', 'Pakistan', 'Palestine',
                  'Philippines', 'Qatar', 'Russia', 'Saudi Arabia', 'Singapore', 'South Korea', 'Sri Lanka', 'Syria', 'Tajikistan',
                  'Thailand', 'Turkey', 'Turkmenistan', 'United Arab Emirates', 'Uzbekistan', 'Vietnam', 'Yemen']

countries_africa = ['Algeria', 'Angola', 'Benin', 'Botswana', 'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cameroon', 'Central African Republic',
                    'Chad', 'Comoros', 'Congo (Brazzaville)', 'Congo (Kinshasa)', 'Djibouti', 'Egypt', 'Equatorial Guinea', 'Eritrea',
                    'Eswatini', 'Ethiopia', 'Gabon', 'Gambia', 'Ghana', 'Guinea', 'Guinea-Bissau', 'Ivory Coast', 'Kenya', 'Lesotho',
                    'Liberia', 'Libya', 'Madagascar', 'Malawi', 'Mali', 'Mauritania', 'Mauritius', 'Morocco', 'Mozambique', 'Namibia',
                    'Niger', 'Nigeria', 'Rwanda', 'Sao Tome and Principe', 'Senegal', 'Seychelles', 'Sierra Leone', 'Somalia', 'South Africa',
                    'South Sudan', 'Sudan', 'Tanzania', 'Togo', 'Tunisia', 'Uganda', 'Zambia', 'Zimbabwe']

countries_north_america = ['Antigua and Barbuda', 'Bahamas', 'Barbados', 'Belize', 'Canada', 'Costa Rica', 'Cuba', 'Dominica',
                           'Dominican Republic', 'El Salvador', 'Grenada', 'Guatemala', 'Haiti', 'Honduras', 'Jamaica', 'Mexico',
                           'Nicaragua', 'Panama', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent and the Grenadines', 'Trinidad and Tobago',
                           'United States']

countries_south_america = ['Argentina', 'Bolivia', 'Brazil', 'Chile', 'Colombia', 'Ecuador', 'Guyana', 'Paraguay', 'Peru',
                           'Suriname', 'Uruguay', 'Venezuela']

countries_oceania = ['Australia', 'Fiji', 'Kiribati', 'Marshall Islands', 'Micronesia', 'Nauru', 'New Zealand', 'Palau',
                     'Papua New Guinea', 'Samoa', 'Solomon Islands', 'Tonga', 'Tuvalu', 'Vanuatu']

def añadir_continente(pais):
    if pais in countries_europe:
        return "europe"
    elif pais in countries_asia:
        return "asia"
    elif pais in countries_africa:
        return "africa"
    elif pais in countries_north_america:
        return "north_america"
    elif pais in countries_south_america:
        return "south_america"
    elif pais in countries_oceania:
        return "oceania"
    else:
        return np.nan
    
df_world["continent"] = df_world["country"].apply(añadir_continente)

df_world.sample(2)

,country,density,abbreviation,agricultural_land,land_area,armed_forces_size,birth_rate,calling_code,capital/major_city,co2-emissions,cpi,cpi_change,currency-code,fertility_rate,forested_area,gasoline_price,gdp,gross_primary_education_enrollment,gross_tertiary_education_enrollment,infant_mortality,largest_city,life_expectancy,maternal_mortality_ratio,minimum_wage,official_language,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation,tax_revenue,total_tax_rate,unemployment_rate,urban_population,latitud,longitud,continent
2,Algeria,18.0,DZ,17.4,NaN,317.0,24.28,213.0,Algiers,150.01,151.36,2.0,DZD,3.02,0.8,$0.28,NaN,109.9,51.4,20.1,Algiers,76.7,112.0,$0.95,Arabic,28.1,1.72,NaN,41.2,37.2,66.1,11.70,NaN,NaN,NaN,africa
4,Angola,26.0,AO,47.5,NaN,117.0,40.73,244.0,Luanda,34.69,261.73,17.1,AOA,5.52,46.3,$0.97,NaN,113.5,9.3,51.6,Luanda,60.8,241.0,$0.71,Portuguese,33.4,0.21,NaN,77.5,9.2,49.1,6.89,NaN,NaN,NaN,africa

3. Guarda el DataFrame después de los cambios creados después de los dos ejercicios anteriores para usarlo en el pairprogramming de mañana.

In [34]:
df_world.to_csv("world-data-2023-leccion05.csv", index=False)

#### **Ejercicios groupby**

1. ¿Cuál es la densidad de población promedio por continente?

In [37]:
df_world.groupby("continent")["density"].mean().round(2).reset_index()

       continent  density
0         africa   104.84
1           asia   155.92
2         europe   120.12
3  north_america   195.64
4        oceania   138.92
5  south_america    25.00

2. ¿Cuál es la esperanza de vida promedio por idioma oficial? Agrupa los países por idioma oficial y calcula la esperanza de vida promedio.

In [39]:
df_world.groupby("country")["life_expectancy"].mean().round(2).reset_index()

         country  life_expectancy
0    Afghanistan             64.5
1        Albania             78.5
2        Algeria             76.7
3        Andorra              NaN
4         Angola             60.8
..           ...              ...
190    Venezuela             72.1
191      Vietnam             75.3
192        Yemen             66.1
193       Zambia             63.5
194     Zimbabwe             61.2

[195 rows x 2 columns]

In [35]:
df_world.head(2)

,country,density,abbreviation,agricultural_land,land_area,armed_forces_size,birth_rate,calling_code,capital/major_city,co2-emissions,cpi,cpi_change,currency-code,fertility_rate,forested_area,gasoline_price,gdp,gross_primary_education_enrollment,gross_tertiary_education_enrollment,infant_mortality,largest_city,life_expectancy,maternal_mortality_ratio,minimum_wage,official_language,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation,tax_revenue,total_tax_rate,unemployment_rate,urban_population,latitud,longitud,continent
0,Afghanistan,60.0,AF,58.1,652.23,323.0,32.49,93.0,Kabul,8.67,149.90,2.3,AFN,4.47,2.1,$0.70,NaN,104.0,9.7,47.9,Kabul,64.5,638.0,$0.43,Pashto,78.4,0.28,NaN,48.9,9.3,71.4,11.12,NaN,NaN,NaN,asia
1,Albania,105.0,AL,43.1,28.75,9.0,11.78,355.0,Tirana,4.54,119.05,1.4,ALL,1.62,28.1,$1.36,NaN,107.0,55.0,7.8,Tirana,78.5,15.0,$1.12,Albanian,56.9,1.20,NaN,55.7,18.6,36.6,12.33,NaN,NaN,NaN,europe

3. ¿Cuál es la tasa de mortalidad infantil promedio por moneda?

4. ¿Cuál es el salario mínimo por continente?

5. ¿Cuál es la tasa de impuestos total máxima por densidad de población por continente? Para solucionar este ejercicio puedes:

- Primero, necesitas calcular la tasa de impuestos total para cada continente. La tasa de impuestos total se encuentra en la columna "total_tax_rate".

- Luego, calcula la densidad de población para cada continente. La densidad de población se encuentra en la columna "density".

- Ahora, divide la tasa de impuestos total entre la densidad de población para obtener la tasa de impuestos total por persona por kilómetro cuadrado.

- Encuentra el país que tiene el valor más alto en esta nueva columna calculada.

6. ¿Cuál es el porcentaje de población urbana promedio por continente?

7. ¿Cuál es la diferencia entre el PIB promedio y el gasto en salud de bolsillo promedio por idioma oficial? Para contestar esta pregunta dabes seguir los siguientes pasos:

- Agrupa el DataFrame por idioma oficial y calcula la media del Gasto de Bolsillo en salud (out_of_pocket_health_expenditure) y del GPD.

- Calcula la diferencia entre el PIB promedio y el gasto en salud de bolsillo promedio.

8. ¿Cuál es la tasa de maternidad promedio por tasa de impuestos total? Para resolver el ejercicio deberás:

- Primero, calcula la tasa de maternidad promedio para cada continente. Puedes usar la columna "maternal_mortality_ratio" que representa la tasa de mortalidad materna.

- Calcula la tasa de impuestos total promedio para cada continente. Puedes usar la columna "total_tax_rate" que representa la tasa de impuestos total en cada continente.

- Luego, divide la tasa de maternidad promedio por la tasa de impuestos total promedio para obtener la relación entre ambas tasas.

- Encuentra el país con la tasa de maternidad más alta por punto porcentual de tasa de impuestos total.

9. Ejercicios bonus groupby:

- ¿Cuál es la tasa de natalidad máxima por área forestal por continente? Encuentra el país con la tasa de natalidad más alta por cada punto porcentual de área forestal.

- ¿Cuál es la diferencia entre la tasa de impuestos total y la tasa de desempleo promedio por continente?